/* header styles */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 46px;
    padding-bottom: 32px;
    height: 110px;
    font-size: 15px;
    color: black;
    background-color: white;


}

.header-container__nav a {
    margin-left: 35px;
    margin-right: 35px;
    color: black;

}

.header-container__nav a:hover {
    color: #BD7048;
}

.header-container__phone p {
    margin: 0px;
    color: black;

}

.header-container__phone img {
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.header-container__phone a {
    color: black;
}

.header-container__nav a {
    color: black;

}

.header-container__logo p {
    margin: 0px;

}

.header-container__logo p:hover {
    color: #BD7048;


}

@media screen and (max-width:767px) {
    .header-container__phone {
        display: none;
    }

    .header-container__nav {
        flex-direction: column;
    }

}