/* styles for main part for index.html */

.section__header {
    display: block;
    width: 100vw;
    height: 88vh;
    overflow-x: hidden;
    color: var(--header-font-color) 50%;
    background-image: url(../assets/index_pictures/background.png);
}
.header__cart {
    position: relative;
    width: 28vw;
    height: 15.5vh;
    left: 76vw;
    top: 6vh;
    right: 0;
    border-radius: 100px;
    background: var(--main-font-color);
    box-shadow: 0px 4px 36px var(--box-shadow);
}
.cart__text {
    position: relative;
    top: 6vh;
    left: 3.7vw;
    font-size: 0.937em;
    line-height: 18px;
    color: var(--additional-font-color);
}
.cart__text:last-child {
    top: -4.3vh;
    left: 4.8vw;
    font-size: 0.625em;
    line-height: 12px;  
    color: var(--cart-text-color);
}
.cart__icon {
    position: relative;
    left: 11vw;
    width: 61px;
    height: 58px;
    border-radius: 100px;
    background: var(--cart-icon-color);
    box-shadow: 0px 4px 36px var(--box-shadow);
}
.icon_position {
    position: relative;
    top: 1.7vh;
    left: 1.3vw;
}
.header__title {
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 49px;
    color: var(--additional-font-color);
}
.header__button {
    display: block;
    position: relative;
    padding: 28px 52px;
    left: 42vw;
    top: 0;
    border: none;
    border-radius: 100px; 
    font-weight: 600;
    font-size: 0.937em;
    line-height: 18px;
    color: var(--additional-font-color);
    background: var(--button-background);
}
