/* styles for main part for index.html */

.section__header {
    display: block;
    width: 100vw;
    height: 88vh;
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--header-font-color) 50%;
    background: url(../assets/index_pictures/background.png) no-repeat;
}
.header__cart {
    position: relative;
    width: 28vw;
    height: 15.5vh;
    left: 76vw;
    top: 6vh;
    right: 0;
    border-radius: 100px;
    background: var(--main-font-color);
    box-shadow: 0px 4px 36px var(--box-shadow-color);
}
.cart__text {
    position: relative;
    top: 6vh;
    left: 3.7vw;
    font-size: 0.937em;
    line-height: 18px;
    color: var(--additional-font-color);
}
.cart__text:last-child {
    top: -4.3vh;
    left: 4.8vw;
    font-size: 0.625em;
    line-height: 12px;  
    color: var(--cart-text-color);
}
.cart__icon {
    position: relative;
    left: 10.5vw;
    width: 61px;
    height: 58px;
    border-radius: 100px;
    background: var(--cart-icon-color);
    box-shadow: 0px 4px 36px var(--box-shadow-color);
}
.icon_position {
    position: relative;
    top: 1.7vh;
    left: 1.3vw;
}
.header__title {
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 49px;
    color: var(--additional-font-color);
}
.header__button {
    display: block;
    position: relative;
    padding: 27px 52px;
    left: 42vw;
    top: 0;
    border: none;
    border-radius: 100px; 
    font-weight: 600;
    font-size: 0.937em;
    line-height: 18px;
    color: var(--additional-font-color);
    background: var(--button-background-color);
}
.header__scroll {
    display: block;
    position: relative;
    top: 17vh;
    left: 48vw;
}
.header__conditions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 153px;
    margin-left: 134px;
    width: 1176px;
    height: 204px;
    border-radius: 50px;
    background: var(--additional-font-color);
}
.conditions__item {
    margin-left: 80px;
}
.item_resize {
    margin-left: 60px;
}
.item__icon {
    position: relative;
    top: 7.5vh;
    left: -6vw;
}
.icon_resize {
    top: 6.7vh;
    left: -5.4vw;
}
.icon_modified {
    position: relative;
    top: -0.8vh;
    left: -1.5vw;
}
.item__text {
    width: 13vw;
    margin-left: -15px;
    font-size: 1.25em;
    line-height: 2px;
}
.text_resize {
    font-size: 0.937em;
    line-height: 18px;
    opacity: 70%;
}
.section__steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    margin-top: 200px;
}
.steps__numbers {
    margin-left: 134px;
    margin-right: 100px;
}
.numbers__header {
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 49px;
}
.numbers__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.numbers__item:last-child {
    margin-top: 40px;
}
.numbers {
    margin-top: -15px;
    padding-right: 50px;
    font-weight: 700;
    font-size: 4.375em;
    line-height: 85px;
    color: var(--numbers-font-color);
}
.numbers_resize {
    padding-right: 63px;
}
.numbers__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25em;
    line-height: 20px;
}
.text_modified {
    margin-top: 10px;
    margin-right: 69px;
    font-size: 0.937em;
    line-height: 18px;
    opacity: 70%;
}
.steps__image {
    background: url(../assets/index_pictures/green_sofa.png) no-repeat;
    background-size: contain;
    background-position: right;
}
.image_resize {
    position: relative;
    top: 14vh;
    right: 3.5vw;
}
.services__header {
    margin-top: 120px;
    margin-bottom: 90px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 49px;
}
.services__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100vw;
}
.options {
    margin-left: 134px;
}
.options__header {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.875em;
    line-height: 37px;
}
.options__text {
    font-size: 1.25em;
    line-height: 24px;
}
.text_weight {
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: 400;
    opacity: 70%;
}
.list_border {
    margin-bottom: 100px;
    padding-left: 60px;
    border-left: 1px solid var(--border-line-color);
}
.options__example {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options__button {
    margin-right: 30px;
    padding: 27px 58px;
    border: none;
    border-radius: 100px; 
    font-weight: 600;
    font-size: 0.937em;
    line-height: 18px;
    color: var(--additional-font-color);
    background: var(--button-background-color);
}
.color_change {
    margin-right: 35px;
    font-weight: 600;
    font-size: 0.937em;
    line-height: 18px;
    color: var(--button-background-color);
}
.options:nth-child(2) {
    margin-left: 0;
    background: url(../assets/index_pictures/background_plan1.png) no-repeat;
    background-position: top right;
    background-size: contain;
    background-size: 65%;
}
.options__picture:nth-child(1) {
    position: relative;
    top: 6vh;
    left: 5vw;
}
.options__picture:nth-child(2) {
    position: relative;
    left: 9.5vw;
    bottom: 31vh;
}
.options:nth-child(3) {
    margin-top: -120px;
    margin-left: 0;
    background: url(../assets/index_pictures/background_plan2.png) no-repeat;
}
.options__image:nth-child(1) {
    position: relative;
    top: 9vh;
    left: 10vw;
} 
.options__image:nth-child(2) {
    position: relative;
    left: 10vw;
    bottom: 26.5vh;
}
.options:nth-child(4) {
    margin-top: -50px;
    margin-left: 83px;
    margin-right: 51px;
}
.section__checklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: -45px 134px 125px 161px;
} 
.checklist_resize {
    padding-top: 55px;
    padding-left: 25px;
}
.checklist__header {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.875em;
    line-height: 37px;
}
.checklist__text {
    padding-bottom: 20px;
    font-size: 1.25em;
    line-height: 24px;
    opacity: 70%;
}
.checklist__button, .design__button {
    padding: 27px 58px;
    border: none;
    border-radius: 100px; 
    font-weight: 600;
    font-size: 0.937em;
    line-height: 18px;
    color: var(--additional-font-color);
    background: var(--button-background-color);
}
.design__header {
    margin-bottom: 33px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 49px;
}
.design__text {
    text-align: center;
    font-size: 1.25em;
    line-height: 30px;
    opacity: 70%;
}
.container__header {
    margin: 35px 80px 45px 130px;
    font-size: 1.875em;
    line-height: 37px;
}
.container__header::after {
    display: inline-block;
    position: relative;
    content: '';
    width: 69vw;
    height: 1px;
    margin-left: 20px;
    vertical-align: middle;
    background-color: var(--design-line-color);
}
.line_length::after {
    width: 70vw;
}
.line_resize::after {
    width: 56vw;
}
.container__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 80px 80px 130px;
}
.container__item {
    margin: 0;
}
.item__line {
    position: relative;
    bottom: 5vh;
    left: 2.2vw;
}
.item__line > img:hover {
    border: 2px solid var(--hover-line-color);
}
.item__font {
    display: flex;
    width: 25vw;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    line-height: 24px;
    font-weight: 600;
    color: var(--design-room-color);
}
.item__font > p {
    padding-left: 27px;
}
.item__button {
    padding: 10px 35px 20px 35px;
    font-size: 0.737em;
    line-height: 18px;
    font-weight: 500;
    border-radius: 100px;
    border: none;
    color: var(--button-background-color);
    background-color: var(--design-button-color);
}
.item__button:hover {
    background-color: var(--button-background-color);
    color: var(--additional-font-color)
}
.button__icon {
    padding-right: 9px;
    vertical-align: bottom;
}
.design__button {
    position: relative;
    left: 41vw;
    margin-top: 17px;
}
.header__button:hover, .options__button:hover, .checklist__button:hover, .design__button:hover {
    color: var(--button-background-color);
    background-color: var(--design-button-color);
}