/* header styles */

.header-container {
    width: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0.9375rem;
    color: var(--black-font-color);
    background-color: var(--additional-font-color);
}

.header-container__nav {
    display: flex;
    transition-duration: 1s;
}

.header-container__nav a {
    margin-left: 25px;
    margin-right: 25px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
    color: var(--cart-font-hover);
    text-decoration: none;
    text-align: end;
}

.decor {
    color: var(--button-background-color);
    opacity: 0;
}

.header-container__nav a:hover .decor {
    color: var(--button-background-color);
    opacity: 1;
    transition-duration: 1s;
}

.header-container__nav a:hover {
    color: var(--button-background-color);
    font-weight: 600;
    transition-duration: 0.5s;
}

.header-container__phone {
    text-align: end;
}

.header-container__phone p {
    margin: 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--cart-additional-items);
}

.header-container__phone img {
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.header-container__phone a {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: var(--black-font-color);
}

.header-container__logo {
    width: 115px;
    transition-duration: 1s;
}

.header-container__logo_pic {
    min-width: 100%;
}

.header-container__logo:hover {
    transform: rotateY(360deg);
    transition-timing-function: ease-in-out;
}

.header-container__logo p {
    font-size: 10px;
    line-height: 12px;
    margin: 0px;
}

.header-container__logo p:hover {
    color: var(--button-background-color);
}

@media screen and (max-width:767px) {
    .header-container__phone {
        display: none;
    }

    .header-container__nav {
        flex-direction: column;
    }

    .header-container {
        justify-content: space-around;
        align-items: center;
    }
}