/* styles for index.html and media queries */

/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* variables and general */
@import url(variables.css);
@import url(general.css);

/* header */
@import url(header.css);

/* main part */
@import url(_index_main.css);

/* footer */
@import url(footer.css);

/* media queries */
@import url(index_media-queries.css);