/* media queries for index.html */

@media screen and (max-width: 480px) {
    .section__header {
        background: url(../assets/index_pictures/background_mobile.png) no-repeat;
        background-size: cover;
        max-width: 100%;
    }
    .header__title, .numbers__header, .services__header, .options__header, .checklist__header, .design__header, .container__header, .questions__header {
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
        max-width: 92%;
    }
    .header__title {
        margin: 30% auto;
    }
    .header__button {
        margin-top: 5%;
    }
    .numbers {
        font-size: 3rem;
    }
    .numbers__text, .options__text, .checklist__text, .design__text, .questions__item, .test__text, .questions__text {
        font-size: 1rem;
    }
    .header__cart {
        background: none;
    }
    .cart__icon {
        min-width: 30%;
        left: 20%;
        bottom: 22%;
    }
    .icon_position {
        max-width: 50%;
        top: 15%;
        left: 24%;
    }
    .steps__image, .cart__text, .header__conditions, .design__text, .item__line, .hidden {
        display: none;
    }
    .header__button, .options__button, .checklist__button, .design__button, .test__button {
        left: 25%;
        padding: 19px 36px;
        margin-bottom: 3%;
    }
    .section__steps, .steps__numbers {
        grid-template-columns: 1fr;
        max-width: 100%;
        margin: 0;
    }
    .numbers__item:last-child {
        margin-top: 0;
    }
    .numbers__item {
        flex-direction: column;
        margin-left: 5%;
    }
    .numbers__text {
        max-width: 90%;
        left: 0;
        margin: 0;
    }
    .numbers, .numbers_resize {
        margin-bottom: 3%;
    }
    .services__header, .options__header {
        max-width: 90%;
    }
    .options, .services__options {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .list_border {
        margin-bottom: 5%;
    }
    .options:nth-child(2), .options:nth-child(3), .options__picture:nth-child(1), .options__picture:nth-child(2), .options__image:nth-child(1), .options__image:nth-child(2) {
        display: none;
    }
    .options:nth-child(4) {
        max-width: 90%;
        margin: 0 auto;
    }
    .options__example {
        flex-direction: column;
    }
    .section__checklist {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .section__checklist img {
        display: none;
    }
    .checklist__text {
        padding: 0;
    }
    .container__line {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .container__item, .container__item img {
        max-width: 90%;
        margin: 0 5%;
    }
    .design__header, .design__button {
        max-width: 90%;
        left: 9%;
    }
    .item__button {
        padding: 5px 25px 0px 25px;
    }
    .section__test {
        height: 76vh;
        background: url(../assets/index_pictures/background_test_mobile.png) no-repeat;
        background-size: cover;
        max-width: 100%;
        padding: 0;
    }
    .test__header {
        font-size: 1.5rem;
    }
    .questions__box {
        max-width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .questions__item {
        height: 10vh;
    }
    .footer-container__phone img {
        margin-bottom: -23%;
        margin-right: 87%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .section__header {
        background: url(../assets/index_pictures/background_mobile.png) no-repeat;
        background-size: cover;
        max-width: 100%;
    }
    .header__title, .numbers__header, .services__header, .options__header, .checklist__header, .design__header, .container__header, .questions__header {
        text-align: center;
        margin: 0 auto;
        max-width: 92%;
    }
    .header__title {
        margin: 30% auto;
    }
    .header__button {
        margin-top: 5%;
    }
    .numbers {
        font-size: 3rem;
    }
    .header__cart {
        background: none;
    }
    .cart__icon {
        min-width: 21%;
        left: 20%;
        bottom: 22%;
    }
    .icon_position {
        top: 22%;
        left: 31%;
    }
    .steps__image, .cart__text, .header__conditions, .design__text, .item__line, .hidden {
        display: none;
    }
    .header__button, .options__button, .checklist__button, .design__button, .test__button {
        left: 38%;
        margin-bottom: 3%;
    }
    .section__steps, .steps__numbers {
        grid-template-columns: 1fr;
        max-width: 100%;
        margin: 0;
    }
    .numbers__item:last-child {
        margin-top: 0;
    }
    .numbers__item {
        flex-direction: column;
        margin-left: 5%;
    }
    .numbers__text {
        max-width: 90%;
        left: 0;
        margin: 0;
    }
    .numbers, .numbers_resize {
        margin-bottom: 3%;
    }
    .services__header, .options__header {
        max-width: 90%;
    }
    .options, .services__options {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .list_border {
        margin-bottom: 5%;
    }
    .options:nth-child(2), .options:nth-child(3), .options__picture:nth-child(1), .options__picture:nth-child(2), .options__image:nth-child(1), .options__image:nth-child(2) {
        display: none;
    }
    .options:nth-child(4) {
        max-width: 90%;
        margin: 0 auto;
    }
    .section__checklist {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .section__checklist img {
        display: none;
    }
    .checklist__text {
        padding: 0;
    }
    .container__line {
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .container__item, .container__item img {
        max-width: 90%;
        margin: 0 5%;
    }
    .design__header, .design__button {
        max-width: 90%;
        left: 9%;
    }
    .item__button {
        padding: 5px 25px 0px 25px;
    }
    .section__test {
        height: 76vh;
        background: url(../assets/index_pictures/background_test_mobile.png) no-repeat;
        background-size: cover;
        max-width: 100%;
        padding: 0;
    }
    .test__header {
        font-size: 1.5rem;
    }
    .questions__box {
        max-width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .questions__item {
        height: 15vh;
    }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
    .header__title, .numbers__header, .services__header, .options__header, .checklist__header, .design__header, .container__header, .questions__header {
        text-align: center;
        margin: 0 auto;
        max-width: 92%;
    }
    .header__title {
        margin: 30% auto;
    }
    .header__button {
        margin-top: 5%;
    }
    .numbers {
        font-size: 3rem;
    }
    .header__cart {
        background: none;
    }
    .cart__icon {
        min-width: 19%;
        left: 20%;
        bottom: 22%;
    }
    .icon_position {
        top: 28%;
        left: 35%;
    }
    .steps__image, .cart__text, .header__conditions, .design__text, .item__line, .hidden {
        display: none;
    }
    .header__button, .options__button, .checklist__button, .design__button, .test__button {
        left: 38%;
        margin-bottom: 3%;
    }
    .section__steps, .steps__numbers {
        grid-template-columns: 2fr;
        max-width: 100%;
        margin: 0;
    }
    .numbers__item:last-child {
        margin-top: 0;
    }
    .numbers__item {
        flex-direction: column;
        margin-left: 5%;
    }
    .numbers__text {
        max-width: 90%;
        left: 0;
        margin: 0;
    }
    .numbers, .numbers_resize {
        margin-bottom: 3%;
    }
    .services__header, .options__header {
        max-width: 90%;
    }
    .options, .services__options {
        grid-template-columns: 1fr;
        max-width: 80%;
        margin: 0 10%;
    }
    .list_border {
        margin-bottom: 5%;
    }
    .options:nth-child(2), .options:nth-child(3), .options__picture:nth-child(1), .options__picture:nth-child(2), .options__image:nth-child(1), .options__image:nth-child(2) {
        display: none;
    }
    .options:nth-child(4) {
        max-width: 80%;
        margin: 0 10%;
    }
    .section__checklist {
        grid-template-columns: 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .section__checklist img {
        display: none;
    }
    .checklist__text {
        padding: 0;
    }
    .container__line {
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .container__item, .container__item img {
        max-width: 90%;
        margin: 0 5%;
    }
    .design__header, .design__button {
        max-width: 90%;
        left: 9%;
    }
    .item__button {
        padding: 5px 25px 0px 25px;
    }
    .section__test {
        height: 30vh;
        margin: 0;
        padding: 0;
    }
    .test__header {
        font-size: 1.5rem;
    }
    .questions__box {
        max-width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .questions__item {
        height: 10vh;
    }
}