/* styles for main part for index.html */

.section__header {
    background: url(../assets/index_pictures/background.png) no-repeat;
    background-size: cover;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--header-font-color) 50%;
}
.header__cart {
    position: absolute;
    height: 13%;
    width: 38%;
    top: 5%;
    right: -17%;
    border-radius: 100px;
    background: var(--main-font-color);
    box-shadow: 0px 4px 36px var(--box-shadow-color);
}
.cart__text {
    position: relative;
    top: 18%;
    left: 8%;
    font-size: 0.937rem;
    line-height: 18px;
    color: var(--additional-font-color);
}
.cart__text:last-child {
    top: -71%;
    left: 11%;
    font-size: 0.625rem;
    line-height: 12px;  
    color: var(--cart-text-color);
}
.cart__icon {
    position: relative;
    left: 29%;
    bottom: 35%;
    width: 11%;
    height: 65%;
    border-radius: 70px;
    background: var(--cart-icon-color);
    box-shadow: 0px 4px 36px var(--box-shadow-color);
}
.icon_position {
    position: relative;
    top: 25%;
    left: 30%;
}
.header__title {
    margin-top: 11%;
    margin-right: -4%;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 49px;
    color: var(--additional-font-color);
}
.header__button {
    display: block;
    position: relative;
    width: 20%;
    margin: 0 40%;
    padding: 27px 52px;
    top: 0;
    border: none;
    cursor: pointer;
    border-radius: 100px; 
    font-weight: 600;
    font-size: 0.937rem;
    line-height: 18px;
    color: var(--additional-font-color);
    background: var(--button-background-color);
}
.header__scroll {
    display: block;
    position: relative;
    top: 17vh;
    left: 48vw;
}
.header__conditions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 12%;
    margin-left: 7.5%;
    width: 85%;
    min-height: 12vh;
    border-radius: 50px;
    background: var(--additional-font-color);
}
.conditions__item {
    width: 18%;
    margin-left: 10%;
}
.item_resize {
    margin-left: 60px;
}
.item__icon {
    position: relative;
    top: 7.5vh;
    left: -6vw;
}
.icon_resize {
    top: 6.7vh;
    left: -5.4vw;
}
.icon_modified {
    position: relative;
    top: -0.8vh;
    left: -1.5vw;
}
.item__text {
    width: 71%;
    margin-left: -15px;
    font-size: 1.25rem;
    line-height: 2px;
}
.text_resize {
    font-size: 0.937rem;
    line-height: 18px;
    opacity: 70%;
}
.section__steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 200px;
    max-width: 100%;
}
.steps__numbers {
    margin-left: 10%;
    margin-right: 5%;
}
.numbers__header {
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 49px;
}
.numbers__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.numbers__item:last-child {
    margin-top: 40px;
}
.numbers {
    margin-top: -15px;
    padding-right: 50px;
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 85px;
    color: var(--numbers-font-color);
}
.numbers_resize {
    padding-right: 63px;
}
.numbers__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 20px;
}
.text_modified {
    margin-top: 10px;
    margin-right: 69px;
    font-size: 0.937rem;
    line-height: 18px;
    opacity: 70%;
}
.steps__image {
    background: url(../assets/index_pictures/green_sofa.png) no-repeat;
    background-size: cover;
    background-position: right;
}
.image_resize {
    position: relative;
    top: 18%;
    right: 13%;
}
.services__header {
    margin-top: 120px;
    margin-bottom: 90px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 49px;
}
.services__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.options {
    margin-left: 10%;
    width: 90%;
    height: 80%;
}
.options__header {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 37px;
}
.options__text {
    font-size: 1.25rem;
    line-height: 24px;
}
.text_weight {
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: 400;
    opacity: 70%;
}
.list_border {
    margin-bottom: 100px;
    padding-left: 60px;
    border-left: 1px solid var(--border-line-color);
}
.options__example {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.options__button {
    margin-right: 30px;
    padding: 27px 58px;
    border: none;
    cursor: pointer;
    border-radius: 100px; 
    font-weight: 600;
    font-size: 0.937rem;
    line-height: 18px;
    color: var(--additional-font-color);
    background: var(--button-background-color);
}
.color_change {
    margin-right: 35px;
    font-weight: 600;
    font-size: 0.937rem;
    line-height: 18px;
    color: var(--button-background-color);
}
.options:nth-child(2) {
    background: url(../assets/index_pictures/background_plan1.png) no-repeat;
    background-position: top right;
    background-size: cover;
    min-height: 80%;
}
.options__picture:nth-child(1) {
    position: relative;
    top: 18%;
    left: -15%;
}
.options__picture:nth-child(2) {
    position: relative;
    left: -4%;
    bottom: 28%;
}
.options:nth-child(3) {
    margin-left: 0;
    background: url(../assets/index_pictures/background_plan2.png) no-repeat;
    background-size: cover;
    min-height: 80%;
}
.options__image:nth-child(1) {
    position: relative;
    top: 17%;
    left: 25%;
} 
.options__image:nth-child(2) {
    position: relative;
    top: -27%;
    left: 25%;
}
.section__checklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: -45px 134px 125px 161px;
} 
.checklist_resize {
    padding-top: 55px;
    padding-left: 25px;
}
.checklist__header {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 37px;
}
.checklist__text {
    padding-bottom: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    opacity: 70%;
}
.checklist__button, .design__button, .test__button {
    padding: 27px 58px;
    border: none;
    cursor: pointer;
    border-radius: 100px; 
    font-weight: 600;
    font-size: 0.937rem;
    line-height: 18px;
    color: var(--additional-font-color);
    background: var(--button-background-color);
}
.design__header {
    margin-bottom: 33px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 49px;
}
.design__text {
    text-align: center;
    font-size: 1.25rem;
    line-height: 30px;
    opacity: 70%;
}
.container__header {
    margin: 35px 80px 45px 130px;
    font-size: 1.875rem;
    line-height: 37px;
}
.container__header::after {
    display: inline-block;
    position: relative;
    content: '';
    min-width: 98%;
    height: 1px;
    vertical-align: middle;
    background-color: var(--design-line-color);
}
.design__container {
    max-width: 100%;
}
.container__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3% 0 3% 10%;
}
.container__item {
    max-width: fit-content;
    margin: 0;
}
.item__line {
    position: relative;
    bottom: 10%;
    left: 5%;
}
.item__line > img:hover {
    border: 2px solid var(--hover-line-color);
}
.item__font {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: 600;
    color: var(--design-room-color);
}
.item__font > p {
    padding-left: 27px;
}
.item__button {
    padding: 10px 35px 20px 35px;
    font-size: 0.737rem;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    color: var(--button-background-color);
    background-color: var(--design-button-color);
}
.item__button:hover {
    background-color: var(--button-background-color);
    color: var(--additional-font-color)
}
.button__icon {
    padding-right: 9px;
    vertical-align: bottom;
}
.design__button {
    position: relative;
    left: 40%;
    margin-top: 17px;
}
.section__test {
    background: url(../assets/index_pictures/background_test.png) no-repeat;
    background-size: 100%;
    height: 100%;
    margin-top: 110px;
    padding-left: 130px;
    padding-top: 60px;
}
.test__scroll {
    scroll-behavior: smooth;
}
.test__header {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 37px;
    color: var(--additional-font-color);
}
.test__text {
    font-size: 1.25rem;
    line-height: 30px;
    color: var(--additional-font-color);
    opacity: 70%;
}
.test__button {
    padding: 27px 80px;
    margin-bottom: 5%;
}
.header__button:hover, .options__button:hover, .checklist__button:hover, .design__button:hover, .test__button:hover {
    color: var(--button-background-color);
    background-color: var(--design-button-color);
}
.questions__header {
    margin-top: 75px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 49px;
}
.questions__box {
    margin-bottom: 100px;
    padding-left: 131px;
    padding-right: 123px;
}
.questions__item {
    display: flex;
    align-items: center;
    height: 10%;
    margin-bottom: 21px;
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 100px;
    background-color: var(--design-button-color);
}
.questions__text {
    padding: 13px 15px 10px 26px;
    font-size: 1.25rem;
    line-height: 24px;
    opacity: 70%;
}
.questions__icon {
    margin-left: 25px;
    margin-right: 30px;
}
.icon_change {
    margin-left: 15px;
    margin-right: 15px;
}