/* styles for index.html and media queries */

/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* variables and general */
@import url(/styles/_variables.css);
@import url(/styles/_general.css);

/* header */
@import url(/styles/_header.css);

/* main part */
@import url(/styles/_index_main.css);

/* footer */
@import url(/styles/_footer.css);

/* media queries */
@import url(/styles/_index_media-queries.css);