/* styles for prices.html */

/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* variables and general */
@import url(/styles/variables.css);
@import url(/styles/general.css);

/* header */
@import url(/styles/header.css);

/* footer */
@import url(/styles/footer.css);

/* main part */
@import url(/styles/prices_main.css);

/* questions */
@import url(/styles/questions_part.css);

/* media queries */



@media screen and (max-width: 1150px) {

    .main__spec {
        font-size: 1.1rem;
    }

    .title_add {
        font-size: 2rem;

    }
}

@media screen and (max-width:767px) {
    .main__spec {
        font-size: 0.9375rem;
    }

    .title_left {
        margin-right: 0px;
    }

    .columns {
        grid-template-columns: repeat(1, 1fr);
    }

    .title_left,
    .title_right,
    .title_add {
        font-size: 1.8rem;
        line-height: 1.5rem;
    }

}

@media screen and (max-width: 480px) {

    .title_left,
    .title_right,
    .title_add {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }


    .figcaption {
        font-size: 0.9375rem;
        line-height: 1.5rem;
        margin-top: 1rem;
    }
}