/* styles for room_design.html */
body {
    min-width: fit-content;
}

.design__header {
    margin-bottom: 33px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 49px;
}
.design__text {
    text-align: center;
    font-size: 1.25em;
    line-height: 30px;
    opacity: 70%;
}
.container__header {
    margin: 35px 80px 45px 130px;
    font-size: 1.875em;
    line-height: 37px;
}
.container__header::after {
    display: inline-block;
    position: relative;
    content: '';
    width: 69vw;
    height: 1px;
    margin-left: 20px;
    vertical-align: middle;
    background-color: var(--design-line-color);
}
.line_length::after {
    width: 70vw;
}
.line_resize::after {
    width: 56vw;
}
.line_modified::after {
    width: 71vw;
}
.line_change::after {
    width: 74vw;
}
.container__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 80px 80px 130px;
}
.container__item {
    margin: 0;
}
.item__line {
    position: relative;
    bottom: 5vh;
    left: 2.2vw;
}
.item__line > img:hover {
    border: 2px solid var(--hover-line-color);
}
.item__font {
    display: flex;
    width: 25vw;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    line-height: 24px;
    font-weight: 600;
    color: var(--design-room-color);
}
.item__font > p {
    padding-left: 27px;
}
.item__button {
    padding: 10px 35px 20px 35px;
    font-size: 0.737em;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    color: var(--button-background-color);
    background-color: var(--design-button-color);
}
.item__button:hover {
    background-color: var(--button-background-color);
    color: var(--additional-font-color)
}
.button__icon {
    padding-right: 9px;
    vertical-align: bottom;
}