/* styles for room_design.html */

.design__header {
    margin-bottom: 33px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 49px;
}
.design__text {
    text-align: center;
    font-size: 1.25rem;
    line-height: 30px;
    opacity: 70%;
}
.container__header {
    margin: 3% 0 3% 10%;
    font-size: 1.875rem;
    line-height: 37px;
}
.container__header::after {
    display: inline-block;
    position: relative;
    content: '';
    min-width: 98%;
    height: 1px;
    vertical-align: middle;
    background-color: var(--design-line-color);
}
.container__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3% 0 3% 10%;
}
.container__item {
    max-width: fit-content;
    margin: 0;
}
.item__line {
    position: relative;
    bottom: 10%;
    left: 5%;
}
.item__line > img:hover {
    border: 2px solid var(--hover-line-color);
}
.item__font {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: 600;
    color: var(--design-room-color);
}
.item__font > p {
    padding-left: 27px;
}
.item__button {
    padding: 10px 35px 20px 35px;
    font-size: 0.737rem;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    color: var(--button-background-color);
    background-color: var(--design-button-color);
}
.item__button:hover {
    background-color: var(--button-background-color);
    color: var(--additional-font-color)
}
.button__icon {
    padding-right: 9px;
    vertical-align: bottom;
}