/* media queries for room_design.html */

@media screen and (max-width: 480px) {
    .design__header, .container__header {
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
        max-width: 92%;
    }
    .design__text, .item__font {
        font-size: 1rem;
    }
    .container__line {
        grid-template-columns: 1fr;
        margin: 0;
    }
    .container__item, .item__font, .container__item img {
        max-width: 90%;
    }
    .container__item {
        margin: 2% 0 2% 9%;
    }
    .item__button {
        padding: 7px 25px 6px 25px;
    }
    .item__line {
        display: none;
    }
    .item__font > p {
        padding-left: 0;
    }
    .container__header::after {
        min-width: 88%;
    }
    .footer-container__phone img {
        margin-bottom: -23%;
        margin-right: 87%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .design__header, .container__header {
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
        max-width: 92%;
    }
    .design__text {
        font-size: 1rem;
    }
    .item__font {
        font-size: 0.7rem;
    }
    .container__line {
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
    .container__item, .item__font, .container__item img {
        max-width: 90%;
    }
    .container__item {
        margin: 2% 0 2% 9%;
    }
    .item__button {
        padding: 7px 25px 6px 25px;
    }
    .item__line {
        display: none;
    }
    .item__font > p {
        padding-left: 0;
    }
    .container__header::after {
        min-width: 98%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
    .design__header, .container__header {
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
        max-width: 92%;
    }
    .design__text {
        font-size: 1rem;
    }
    .item__font {
        font-size: 0.6rem;
    }
    .container__line {
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
    }
    .container__item, .item__font, .container__item img {
        max-width: 90%;
    }
    .container__item {
        margin: 2% 0 2% 9%;
    }
    .item__button {
        padding: 7px 25px 6px 25px;
    }
    .item__line {
        display: none;
    }
    .item__font > p {
        padding-left: 0;
    }
    .container__header::after {
        min-width: 98%;
    }
}