/* styles for room_design.html */

/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* variables and general */
@import url(../styles/_variables.css);
@import url(../styles/_general.css);

/* header */
@import url(../styles/_header.css);

/* main part */
@import url(../styles/_room_design_main.css);

/* footer */
@import url(../styles/_footer.css);